################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Arthas.Demo/bin/Debug
/.vs/EASkins
/Arthas.Demo/obj/Debug
/EASkins/bin/Debug
/EASkins/obj/Debug/EAStyles/Themes/MiStyle
/EASkins/obj/Debug
/EAStyles/bin/Debug
/EAStyles/obj/Debug
/EAWpfDemo/obj/Debug
/MaterialExample/bin/Debug
/MaterialExample/obj/Debug
/Arthas/bin/Debug
/Arthas/obj/Debug/Controls/Metro
/Arthas/obj/Debug/TempPE
/Arthas/obj/Debug/Themes/Metro
/Arthas/obj/Debug/Themes/Generic.baml
/Arthas/obj/Debug
/Arthas/Resources/Thumbs.db
/EAWpfDemo/bin/Debug
/MetroUiToolkit/bin
/MetroUiToolkit/obj
/MetroUiToolkitDemo/bin/Debug
/MetroUiToolkitDemo/obj
*.ini
*.baml
*.dtbcache
*.suo
/EAStyles/obj/Release
